.banner {
  //margin-top: 24px;

  .blog-header-img {
    display: block;
    height: 192px;
    overflow: hidden;
    position: relative;
    text-align: center;
    img {
      display: inline-block;
      max-width: 200%;
      margin-left: -50%;
    }
    @media (min-width: @screen-sm-min) {
      img {
        max-width: 150%;
        margin-left: -25%;
      }
    }
    @media (min-width: @screen-md-min) {
      height: 240px;
      img {
        max-width: 100%;
        margin-left: 0;
      }
    }
    @media (min-width: @screen-lg-min) {
      height: 264px;
    }
  }

  .blog-header {

    position: relative;
    margin-top: -60px;

    .blog-title {
      float: left;
      background-color: @brand-primary;
      padding: 30px 80px 30px 30px;
      font-family: @headings-font-family;
      margin: 0;
      display: inline-block;
      width: 100%;
      color: #fff;
      text-transform: uppercase;
      font-size: 28px;
      line-height: 1.1em;

      &:hover, &:active, &:focus {
        color: #fff;
        text-decoration: none;
        outline: none;
      }

      @media (min-width: @screen-sm-min) {
        padding: 30px;
        font-size: 34px;
      }
      @media (min-width: @screen-md-min) {
        font-size: 41px;
      }
    }

    .blog-title-wrap{
      position: relative;
      overflow: hidden;
      float:left;
      width: 100%;

      @media (min-width: @screen-sm-min) {
        width: 66%;
      }
      @media (min-width: @screen-md-min) {
        width: 50%;
      }
      @media (min-width: @screen-lg-min) {
        width: 45%;
      }
    }
    .nav-menu-toggle{
      .visible-xs;
      .kf-chevron-down;
      position: absolute;
      right: 0;
      bottom: 0;
      padding: 24px;
      color: #fff;
      font-size: 28px;

      @media (min-width: @screen-sm-min) {
        font-size: 34px;
      }
      @media (min-width: @screen-md-min) {
        font-size: 41px;
      }
      &.open{
        .kf-chevron-up;
      }
    }

    .blog-description {
      float: left;
      padding: 18px 18px 18px 30px;
      color: @brand-primary;
      font-size: 14px;
      line-height: 24px;
      display: inline-block;
      width: 100%;

      @media (min-width: @screen-sm-min) {
        font-size: 16px;
      }
      @media (min-width: @screen-md-min) {
        width: 50%;
        margin-top: 72px;
        padding: 0 24px;
      }
      @media (min-width: @screen-lg-min) {
        width: 55%;
      }
    }
  }

  .navbar {
    min-height: 0;
    margin-bottom: 0;
    @media (min-width: @screen-sm-min) {
      min-height: 50px;
      margin-bottom: 26px;
    }

    @media (min-width: @screen-md-min) {
      margin-top: 18px;
    }

    // Default navbar
    &.navbar-default {
      border:none;

      .navbar-text {
      }

      .navbar-nav {
        > li > a {

          &:hover,
          &:focus {
            text-decoration: underline;
          }
        }
        > .active > a {
          &,
          &:hover,
          &:focus {
            font-weight: bold;
          }
        }
        > .disabled > a {
          &,
          &:hover,
          &:focus {

          }
        }
      }

      .navbar-toggle {
        background-color: @brand-light;
        border-color: @navbar-default-toggle-border-color;
        .icon-bar {
        background-color: @navbar-default-toggle-icon-bar-bg;
        }
        &:hover,
        &:focus {
          background-color: @navbar-default-toggle-hover-bg;
          .icon-bar{
            background-color: @navbar-default-toggle-icon-bar-bg-hover;
          }
        }

      }

      .navbar-collapse,
      .navbar-form {
        border-color: @navbar-default-border;
      }

      // Dropdown menu items
      .navbar-nav {
        // Remove background color from open dropdown
        > .open > a {
          &,
          &:hover,
          &:focus {
            background-color: @navbar-default-link-active-bg;
            color: @navbar-default-link-active-color;
          }
        }

        @media (max-width: @grid-float-breakpoint-max) {
          // Dropdowns get custom display when collapsed
          .open .dropdown-menu {
            > li > a {
              color: @navbar-default-link-color;
              &:hover,
              &:focus {
                color: @navbar-default-link-hover-color;
                background-color: @navbar-default-link-hover-bg;
              }
            }
            > .active > a {
              &,
              &:hover,
              &:focus {
                color: @navbar-default-link-active-color;
                background-color: @navbar-default-link-active-bg;
              }
            }
            > .disabled > a {
              &,
              &:hover,
              &:focus {
                color: @navbar-default-link-disabled-color;
                background-color: @navbar-default-link-disabled-bg;
              }
            }
          }
        }
      }
    }
  }
}
