
.hentry {
  clear: both;
  margin-bottom: 72px;
  header {
    h1,h2{
      margin-top: 0.7em;
    }
    h2{
      a{
        border-bottom: 0;
        &:hover{
          border-bottom: 0;
        }
      }
    }
    h1+h2{
      font-size: 1.2em;
      margin-top: -1em;
    }
    h2+h3{
      font-size: 1.2em;
      margin-top: -1em;
      color: @brand-primary;
    }
  }
  time {
  }
  .byline {

    font-size: 0.79em;
    line-height: 1.534em;
    font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 300;
    color: #494949;

    .avatar {
      display: inline-block;
      border-radius: 50px;
      margin-right: 15px;
    }
    a {
      border-bottom: none;
      &:hover {
        border-bottom: none;
      }
    }
  }
  .entry-featured{
    margin-bottom: 24px;
  }
  .entry-content,.entry-summary {
    font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 300;
    & > p:first-child > strong{
      .h3;
      line-height: 1.6em;
      font-family: @font-family-serif;
      color: @brand-primary;
    }

    h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6{
      font-family: @font-family-sans-serif;
    }

    ul{
      list-style: none;
      padding-left: 5px;
      li{
        padding-left: 20px;
        position: relative;
        .kf-square;
        &:before{
          color: @brand-primary;
          font-size: 0.29em;
          left: 4px;
          margin-right: 14px;
          position: absolute;
          top: 14px;
        }
      }
    }
    .sd-social, .sd-sharing{
      ul {
        list-style: none;
        padding-left: 0;
        li {
          padding-left: 0;
          &:before{
            content: '';
          }
        }
      }
    }
  }
  footer {
    background: #f4f4f4;
    padding:24px;
    clear:both;
    .cat-links,.tag-links,.comments-link{
      margin-right: 18px;
    }
  }

}


.grid-post{
  .make-sm-column(6,30px);
  .make-lg-column(4,30px);

  margin-bottom: 1.7em;

  .grid-post-img{
    height: 233px;
    overflow:hidden;
    img{
      width: 100%;
      &:hover{
        opacity:0.9;
      }
    }
  }
  .entry-title{
    font-family: @font-family-sans-serif;
    font-size: 1.13em;
    line-height: 1.3em;
    margin: 0.7em 0 0.9em 0;
  }
  .entry-content{
    font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 0.9em;
    line-height: 1.48em;
    font-weight: 300;
  }

  .byline{
    font-size: 0.7em;
    line-height: 1.58em;
    margin-bottom: 1em;
    color: #494949;
    img{
      display: none;
    }
    a{
      text-transform: uppercase;
      color: #494949;
      border-bottom: none;
      &:hover{
        color: #494949;
        border-bottom: none;
      }
    }
  }

  @media (min-width: @screen-sm-min) {
    margin-bottom: 1.4em;
    &:nth-child(odd){
      clear:left;
    }
  }
  @media (min-width: @screen-lg-min) {
    &:nth-child(odd){
      clear:none;
    }
    &:nth-child(3n+1){
      clear:left;
    }
  }

}

.sidebar-primary{
  .grid-post {
    .make-sm-column(12, 30px);
    .make-lg-column(6, 30px);

    .grid-post-img {

      height: 170px;

      @media (min-width: 450px) {
        height: 300px;
      }

      @media (min-width: 570px) {
        height: 380px;
      }

      @media (min-width: @screen-sm-min) {
        height: 293px;
      }
      @media (min-width: @screen-md-min) {
        height: 391px;
      }
      @media (min-width: @screen-lg-min) {
        height: 236px;
      }
    }

    @media (min-width: @screen-lg-min) {
      margin-bottom: 1.7em;

      &:nth-child(3n+1){
        clear:none;
      }
      &:nth-child(odd) {
        clear: left;
      }
    }
  }
}

