
.hentry {
  clear: both;
  margin-bottom: 72px;
  header {
    h1,h2{
      margin-top: 0.7em;
    }
    h1+h2{
      font-size: 1.2em;
      margin-top: -1em;
    }
    h2+h3{
      font-size: 1.2em;
      margin-top: -1em;
      color: @brand-primary;
    }
  }
  time {
  }
  .byline {
    .avatar {
      display: inline-block;
      border-radius: 50px;
      margin-right: 24px;
    }
    a {
      border-bottom: none;
      &:hover {
        border-bottom: none;
      }
    }
  }
  .entry-featured{
    margin-bottom: 24px;
  }
  .entry-content,.entry-summary {

    & > p:first-child > strong{
      .h3;
      font-family: @font-family-serif;
      color: @brand-primary;
      font-size: 1.2em;
    }

    h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6{
      font-family: @font-family-sans-serif;
    }

    ul{
      list-style: none;
      padding-left: 5px;
      li{
        padding-left: 20px;
        position: relative;
        .kf-square;
        &:before{
          color: @brand-primary;
          font-size: 0.29em;
          left: 4px;
          margin-right: 14px;
          position: absolute;
          top: 14px;
        }
      }
    }
  }
  footer {
    background: #f4f4f4;
    padding:24px;
    clear:both;
    .cat-links,.tag-links,.comments-link{
      margin-right: 18px;
    }
  }

}
.latest-post{
  .make-sm-column(6,30px);
  .make-lg-column(4,30px);

  margin-bottom: 24px;

  .latest-post-img{
    height: 233px;
    overflow:hidden;
    img{
      width: 100%;
    }
  }
  .entry-title{
    font-family: @font-family-sans-serif;
    font-size: 20px;
    line-height: 1.3em;
  }
  .byline{
    font-size: 14px;
  }
  .blog-source{
    text-transform: uppercase;
    color: @text-color;
    border-bottom: none;
    &:hover{
      color: @text-color;
      border-bottom: none;
    }
  }
  @media (min-width: @screen-sm-min) {
    &:nth-child(odd){
      clear:left;
    }
  }
  @media (min-width: @screen-lg-min) {
    &:nth-child(odd){
      clear:none;
    }
    &:nth-child(3n+1){
      clear:left;
    }
  }
}
