.main{
  .search-form{
    padding: 1em;
    background: #F4F4F4;
    input{
      font-size: 1.6em;
      height: 1.7em;
      color: @brand-primary;
    }
    .btn{
      i:before{
        font-size: 1.5em;
        @media (min-width: @screen-md-min) {
          font-size: 2em;
        }
      }
    }
  }
}